# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bee2hive"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/bee2hive"

# Auth
AUTH_SECRET="your-secret-key" # Generate with: openssl rand -base64 32

# App Identity
NEXT_PUBLIC_APP_NAME="AppHub"
